version: "3"

services:
  db-master:
    build:
      context: .
    environment:
      MYSQL_DATABASE: test
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
      MYSQL_INIT_DATA_SIZE_LIST: users:100,banks:300000
    volumes:
      - ./my.cnf:/etc/mysql/conf.d/my.cnf
      - ./10-init-schema.sql:/docker-entrypoint-initdb.d/10-init-schema.sql
      - ./21-init-data.sh:/docker-entrypoint-initdb.d/21-init-data.sh
    command:
      - --server_id=1
  db-replica-1:
    build:
      context: .
    environment:
      MYSQL_DATABASE: test
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
      MYSQL_MASTER_SERVERS: db-master
    volumes:
      - ./my.cnf:/etc/mysql/conf.d/my.cnf
      - ./setup-replica.sh:/docker-entrypoint-initdb.d/setup-replica.sh
    command:
      - --server_id=2
    depends_on:
      - db-master
  db-replica-2:
    build:
      context: .
    environment:
      MYSQL_DATABASE: test
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
      MYSQL_MASTER_SERVERS: db-master
    volumes:
      - ./my.cnf:/etc/mysql/conf.d/my.cnf
      - ./setup-replica.sh:/docker-entrypoint-initdb.d/setup-replica.sh
    command:
      - --server_id=3
    depends_on:
      - db-master
