[mysql]
prompt = '\\u@\\h [\\d] > '

[mysqld]
sql_mode = STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION
character-set-server      = utf8
datadir                   = /var/lib/mysql
log_bin                   = mysql_bin
log_slave_updates
relay_log                 = relay_mysql_bin
binlog_format             = MIXED
binlog_row_image          = minimal
binlog_rows_query_log_events = ON
master_info_repository    = table
relay_log_info_repository = table
relay_log_purge           = 0
skip_name_resolve         = ON
enforce_gtid_consistency  = ON
gtid_mode                 = ON
wait_timeout              = 10

loose-slave_parallel_type         = LOGICAL_CLOCK
loose-slave_parallel_workers      = 0
loose-slave_preserve_commit_order = ON
loose-slave_pending_jobs_size_max = 16M

innodb_doublewrite             = OFF
innodb_file_format             = Barracuda
innodb_file_per_table          = ON
innodb_flush_log_at_trx_commit = 2
innodb_large_prefix            = ON
innodb_lock_wait_timeout       = 30

# note: docker-compose commands
#server-id                 = 1
